* {
  margin: 0;
  padding: 0
}
html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  margin: 50px auto;
  width: 50%;
}

.search-input {
  width: 100%;
}

input {
  width: 100%;
  height: auto;
  font-size: 2em;
  text-align: center;
}

.search-results {
  border: .5px solid red;
  margin: 0 auto;
  width: 100%;
}

li.city-list-item {
  list-style: none;
  border: 1px solid red;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li.def {
  list-style: none;
  border: 1px solid red;
  background-color: white;
  color: black;
  text-align: center
}

